/* General Body Styles */
body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(29, 26, 75);
    scroll-behavior: smooth;
}

#image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    overflow: hidden; /
}

#bg-gif {
    max-height: 100%; 
    min-height: 100%; 
    object-fit: cover; 
}


/* ------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
-----------------------------------------General Body Styles for WE-CHAT -------------------------------------
--------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------*/


.wechat-browser #image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.wechat-browser #bg-gif {
    max-height: 100%; 
    min-height: 100%; 
    object-fit: cover; 
}

body.wechat-browser, html.wechat-browser {
    height: 100%;
    margin: 0;
    background-color: rgb(29, 26, 75);
    scroll-behavior: smooth;}




/* ------------------------------------------------------------------------------------------
--------------------------------------Links-------------------------------------------------- 
------------------------------------------------------------------------------------------ */

#link-div-0 {
    display: block; 
    position: absolute;
    width: 24vw; 
    height: 25vh; 
    top: 10%; 
    left: 36%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-1 {
    display: block; 
    position: absolute;
    width: 20vw; 
    height: 12vh; 
    top: 38%; 
    left: 40%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-2 {
    display: block; 
    position: absolute;
    width: 18vw; 
    height: 10vh; 
    top: 54%; 
    left: 42%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-3 {
    display: block; 
    position: absolute;
    width: 16vw; 
    height: 10vh; 
    top: 68%; 
    left: 43%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-4 {
    display: block; 
    position: absolute;
    width: 6vw; 
    height: 8vh; 
    top: 83%; 
    left: 45%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

/*---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
----------------------------- Table------------------------------------------------------
----------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------- */


  table {
    width: 100% !important;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 7px;
    color: rgb(0, 0, 0);
  }

  td, th {
    padding: 12px; 
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    width: 22%;
  }

  #top-table {
    background-image: linear-gradient(to right, rgb(0, 174, 239), rgb(38, 34, 98)) !important; 
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
  }

  #zeit-table {
    background-image: linear-gradient(rgb(0, 174, 239), rgb(38, 34, 98)); 
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
  }

  #info-table {
    border: 3px solid rgb(75, 141, 255);
    border-radius: 6px;

  }

  #info-table strong {
    font-weight: bold;
  }

  .grande {
    text-align: center;
    font-size: 14px;
  }




/* ------------------------------------------------------------------------------------------
--------------------------------------Containers--------------------------------------------- 
------------------------------------------------------------------------------------------ */


.container {
    color: rgb(0, 34, 156);
    background-color: white; 
    width: 360px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.intro {
    height: 850px; 
}

#guangzhou-id {
    height: 1260px; 
}

#shanghai-id {
    height: 1360px; 
}

#beijing-id {
    height: 1160px; 
}

.text-div {
    width: 320px; 
    height: 500px; 
    background-color: rgb(255, 255, 255); 
    color: black;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
}


.ort{
    width: 320px; 
    height: 200px; 
    background-color: rgb(255, 255, 255); 
    color: black;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
}
/*EStilo para pc

#container {
    color: rgb(0, 34, 156);
    background-color: white; 
    width: 500px; 
    height: 780px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#text-div {
    width: 400px; 
    height: 600px; 
    background-color: rgb(255, 255, 255); 
    color: black;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
} */

p {
    font-family: Arial, sans-serif;
}



/* ------------------------------------------------------------------------------------------
--------------------------------------Titulos------------------------------------------------ 
------------------------------------------------------------------------------------------ */

.titulos {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
}

.joblab {
    width: 250px; 
    height: 70px; 
    margin-top: 40px;
    margin-bottom: 20px;
}

#organisiert {
    width: 250px; 
    height: 70px; 
    margin-top: 40px;
    margin-bottom: 20px;
}

.subtitulos {
    width: 200px; 
    height: 70px; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.programm {
    width: 150px !important; 
}

.titulos2 {
    width: 300px; 
    height: 130px; 
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    display: flex;
    font-weight: 550;
    align-items: center;
}



#unterstuetzt_von {
    width: 230px; 
    height: 70px; 
    background-color: white;
    margin-top: 50px;
    text-align: center;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    padding-top: 50px;    
    padding-bottom: 50px;     
    display: block; 
    margin: auto; 
    width: 350px;
}



@media (max-width: 800px) {

    #image-container {
        display: flex; 
        justify-content: center;  /* Center horizontally */
        align-items: flex-start;  /* Align items to the top */
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    
    #bg-gif {
        width: auto;  /* Allows the image width to adjust automatically */
        max-width: 100%; /* Adjust this value to set how thin you want the image to be */
        height: 100%; /* Ensures the image always fills the height of the viewport */
        object-fit: contain; /* Makes sure the entire image is visible, fits within the dimensions without cropping */
        object-position: top center; /* Ensures the image is aligned to the top and centered horizontally */
    }

    #link-div-1 {
        display: block; 
        position: absolute;
        width: 60vw; 
        height: 11vh; 
        top: 38%; 
        left: 16%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-2 {
        display: block; 
        position: absolute;
        width: 54vw; 
        height: 11vh; 
        top: 53%; 
        left: 22%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-3 {
        display: block; 
        position: absolute;
        width: 50vw; 
        height: 11vh; 
        top: 67%; 
        left: 28%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); }

    #link-div-4 {
        display: block; 
        position: absolute;
        width: 20vw; 
        height: 10vh; 
        top: 81%; 
        left: 30%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }

/* Logos */

    #container {
        color: rgb(0, 34, 156);
        background-color: white; 
        width: 360px; 
        height: 1300px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }
    
    #organisiert_von {
        width: 230px; 
        height: 70px; 
        background-color: white;
        margin-top: 20px;
        text-align: center;
        font-family: Arial;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #unterstuetzt_von {
        width: 230px; 
        height: 70px; 
        background-color: white;
        margin-top: 50px;
        text-align: center;
        font-family: Arial;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logos {
        padding-top: 50px;
        padding-bottom: 50px;         
        display: block; 
        margin: auto; 
        width: 330px;
    }
    
}
/*
@media (min-width: 700px) and (max-width: 1024px) {
    #link-div-1 {
        display: block; 
        position: absolute;
        width: 35vw; 
        height: 12vh; 
        top: 38%; 
        left: 30%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-2 {
        display: block; 
        position: absolute;
        width: 30vw; 
        height: 10vh; 
        top: 54%; 
        left: 34%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-3 {
        display: block; 
        position: absolute;
        width: 30vw; 
        height: 10vh; 
        top: 68%; 
        left: 36%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-4 {
        display: block; 
        position: absolute;
        width: 14vw; 
        height: 8vh; 
        top: 81%; 
        left: 40%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
}*/