/* General Body Styles */
body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(29, 26, 75);

}

#image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    overflow: hidden; /
}

#bg-gif {
    max-height: 100%; 
    min-height: 100%; 
    object-fit: cover; 
}

#chinese-text{
    font-size: 17px;
}




/* ------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
-----------------------------------------General Body Styles for WE-CHAT -------------------------------------
--------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------*/


.wechat-browser #image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.wechat-browser #bg-gif {
    max-height: 100%; 
    min-height: 100%; 
    object-fit: cover; 
}

body.wechat-browser, html.wechat-browser {
    height: 100%;
    margin: 0;
    background-color: rgb(29, 26, 75);
    scroll-behavior: smooth;}




/* ------------------------------------------------------------------------------------------
--------------------------------------Links-------------------------------------------------- 
------------------------------------------------------------------------------------------ */

#link-div-0 {
    display: block; 
    position: absolute;
    width: 24vw; 
    height: 25vh; 
    top: 10%; 
    left: 36%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-1 {
    display: block; 
    position: absolute;
    width: 20vw; 
    height: 12vh; 
    top: 38%; 
    left: 40%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-2 {
    display: block; 
    position: absolute;
    width: 18vw; 
    height: 10vh; 
    top: 54%; 
    left: 42%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-3 {
    display: block; 
    position: absolute;
    width: 16vw; 
    height: 10vh; 
    top: 68%; 
    left: 43%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-4 {
    display: block; 
    position: absolute;
    width: 10vw; 
    height: 8vh; 
    top: 83%; 
    left: 45%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

/*---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
----------------------------- Tables------------------------------------------------------
----------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------- */


  table {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 7px;
    color: rgb(0, 0, 0);
  }



  td, th {
    padding: 9px; 
    font-family: 'Arial', sans-serif;
    font-size: 12px;
  }

  .chinese-table td, .chinese-table th {
    font-size: 15px;
}

  #top-table {
    background-image: linear-gradient(to right, rgb(0, 174, 239), rgb(38, 34, 98)) !important; 
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
  }


  #zeit-table {
    background-image: linear-gradient(rgb(0, 174, 239), rgb(38, 34, 98)); 
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;

  }

  #info-table {
    border: 3px solid rgb(0, 174, 239);
    border-radius: 6px;

  }

  #info-table strong {
    font-weight: bold;
  }

  .grande {
    text-align: center;
    font-size: 14px;
  }






/* ------------------------------------------------------------------------------------------
--------------------------------------Containers--------------------------------------------- 
------------------------------------------------------------------------------------------ */


.container {
    color: rgb(0, 34, 156);
    background-color: white; 
    width: 360px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
}



.intro {
    height: 900px; 
}

#guangzhou-id {
    height: 1310px; 
}

#guangzhou-cn-container {
    height: 1300px;
}

#shanghai-id {
    height: 1460px; 
}

#shanghai-cn-container {
    height: 1550px;
}

#beijing-id {
    height: 1220px; 
}

#beijing-cn-container {
    height: 1200px;
}

#logos-container {
    height: 2900px;
}

#logos-container-unternehmen {
    height: 6800px;
}

.text-div {
    width: 320px; 
    height: 500px; 
    background-color: rgb(255, 255, 255); 
    color: black;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
}

#unternehmensname {
    text-align: center;
}


.ort{
    width: 320px; 
    height: 200px; 
    background-color: rgb(255, 255, 255); 
    color: black;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
}
/*EStilo para pc

#container {
    color: rgb(0, 34, 156);
    background-color: white; 
    width: 500px; 
    height: 780px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#text-div {
    width: 400px; 
    height: 600px; 
    background-color: rgb(255, 255, 255); 
    color: black;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
} */

p {
    font-family: Arial, sans-serif;
}



/* ------------------------------------------------------------------------------------------
--------------------------------------Titulos------------------------------------------------ 
------------------------------------------------------------------------------------------ */

.titulos {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
}

.subtitulos {
    height: 70px; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.joblab {
    width: 250px; 
    height: 70px; 
    margin-top: 80px;
    margin-bottom: 30px;
}

#joblab-bild {
    width: 250px; 
}

#beruf-bild {
    width: 220px;
}

#beruf-bild-cn {
    width: 300px;
}

#stadt-bild{
    width: 190px;
}

#stadt-bild-cn{
 
    height: 40px;
}

#programm-bild {
    width: 170px;
}

#programm-bild-cn {
    height: 30px;
}


.programm {
    width: 150px !important; 
}

.titulos2 {
    width: 300px; 
    height: 130px; 
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    display: flex;
    font-weight: 550;
    align-items: center;
}

#unterstuetzt_von {
    width: 230px; 
    height: 70px; 
    background-color: white;
    margin-top: 50px;
    text-align: center;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    padding-top: 50px;    
    padding-bottom: 50px;     
    display: block; 
    margin: auto; 
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logos-unternehmen {
    padding-top: 130px;    
    padding-bottom: 10px;     
    display: block; 
    margin: auto; 
    width: 300px;

}

#unternehmen {
    text-align: center;
}

.logos-cn {
    width: 240px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
----------------------------- Footer------------------------------------------------------
----------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------- */

.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    font-weight: 600;
}

.footer a {
    color: #0af;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* --------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
-----------------------------------------Media Queries-----------------------------------------------------
-----------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/

@media (max-width: 800px) {

    #image-container {
        display: flex; 
        justify-content: center;  /* Center horizontally */
        align-items: flex-start;  /* Align items to the top */
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    
    #bg-gif {
        width: auto;  /* Allows the image width to adjust automatically */
        max-width: 100%; /* Adjust this value to set how thin you want the image to be */
        height: 100%; /* Ensures the image always fills the height of the viewport */
        object-fit: contain; /* Makes sure the entire image is visible, fits within the dimensions without cropping */
        object-position: top center; /* Ensures the image is aligned to the top and centered horizontally */
    }

    #link-div-1 {
        display: block; 
        position: absolute;
        width: 60vw; 
        height: 11vh; 
        top: 38%; 
        left: 16%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-2 {
        display: block; 
        position: absolute;
        width: 54vw; 
        height: 11vh; 
        top: 53%; 
        left: 22%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-3 {
        display: block; 
        position: absolute;
        width: 50vw; 
        height: 11vh; 
        top: 67%; 
        left: 28%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); }

    #link-div-4 {
        display: block; 
        position: absolute;
        width: 40vw; 
        height: 10vh; 
        top: 81%; 
        left: 30%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }

/* Logos */

    #container {
        color: rgb(0, 34, 156);
        background-color: white; 
        width: 360px; 
        height: 1300px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }
    
    .logos {
        padding-top: 50px;
        padding-bottom: 50px;         
        display: block; 
        margin: auto; 
        width: 330px;
    }
    

    #logos-container {
        height: 1950px;
    }


}
