/* ------------------------------------------------------------------------------------------------------------
/* ------------------------------------------------------------------------------------------------------------
-----------------------------------------------------Job Lab---------------------------------------------------
-------------------------------------------Wilmer Aderbert Florez Lopez----------------------------------------
---------------------------------------------------------------------------------------------------------------
------------------------------------------------General Body Styles--------------------------------------------
---------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------*/


body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(29, 26, 75);
}

#image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

#bg-gif {
    max-height: 100%; 
    min-height: 100%; 
    object-fit: cover; 
}

#chinese-text{
    font-size: 20px;
}

.wechat-browser #image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.wechat-browser #bg-gif {
    max-height: 100%; 
    min-height: 100%; 
    object-fit: cover; 
}

body.wechat-browser, html.wechat-browser {
    height: 100%;
    margin: 0;
    background-color: rgb(29, 26, 75);
    scroll-behavior: smooth;}

/* ------------------------------------------------------------------------------------------
--------------------------------------Links-------------------------------------------------- 
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------ */

#link-div-0 {
    display: block; 
    position: absolute;
    width: 24vw; 
    height: 25vh; 
    top: 10%; 
    left: 36%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-1 {
    display: block; 
    position: absolute;
    width: 20vw; 
    height: 12vh; 
    top: 38%; 
    left: 40%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-2 {
    display: block; 
    position: absolute;
    width: 18vw; 
    height: 10vh; 
    top: 54%; 
    left: 42%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-3 {
    display: block; 
    position: absolute;
    width: 16vw; 
    height: 10vh; 
    top: 68%; 
    left: 43%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}

#link-div-4 {
    display: block; 
    position: absolute;
    width: 10vw; 
    height: 8vh; 
    top: 83%; 
    left: 45%; 
    cursor: pointer; 
    background-color: rgba(255, 0, 0, 0); 
}


/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-------------------------------------- Containers --------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------ */


.container {
    color: rgb(0, 34, 156);
    background-color: #ffffff; 
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
}

.container-unterstuetzt {
    color: rgb(0, 34, 156);
    background-color: #ffffff; 
    width: 90%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 20px;
}

#unterstuetzt-container {
    height: 960px;
}

#unternehmen-container {
    height: 2200px;
}

.intro {
    height: 1500px; 
}

.intro-cn {
    height: 1400px; 
}

.teilnehmende-unternehmen-cn {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    text-decoration: none;
    margin-top: 440px;
}




.textplusbild{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guangzhou-id {
    height: 1500px; 
}

#guangzhou-cn-container {
    height: 1480px;
}

#shanghai-id {
    height: 1800px; 
}

#shanghai-cn-container {
    height: 1800px;
}

#beijing-id {
    height: 1600px; 
}

#beijing-cn-container {
    height: 1320px;
}

#logos-container {
    height: 400px;
}

#logos-container-unternehmen {
    height: 6800px;
}

#unternehmensname {
    text-align: center;
}

/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------- Content --------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------ */

.titulos {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}



.subtitulos {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joblab-titulos {
    margin-top: 130px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center; 

}

#joblab-bild {
    width: 510px; 
}

#beruf-bild {
    width: 250px;
    padding-bottom: 60px;
}

#beruf-bild-cn {
    width: 300px;
    padding-bottom: 60px;
}

.text-div {
    width: 75%; 
    height: 400px; 
    background-color: rgb(255, 255, 255); 
    color: black;
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-family: Arial, sans-serif;
}

.fotos-joblab{
    width: 100%;
    display: flex;
    align-items: center;
}

.teilnehmende-unternehmen {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    text-decoration: none;
    margin-top: 520px;
}

.zurueck {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
}


#stadt-bild{
    
    width: 200px;
    padding-top: 100px;
}

#stadt-bild-cn{
    height: 50px;
    padding-top: 100px;
}

.ort{
    width: 600px; 
    height: 350px; 

    color: black;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    padding: 30px;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#programm-bild {
    width: 180px; 
     padding-top: 30px;
     /*background-color: aqua;*/
}

#programm-bild-cn {
    height: 30px;
}

.programm {
    width: 150px !important; 
}
/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------------------------------------- Tabelle / Programm ------------------------------------ 
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------ */


table {
    width: 90%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 7px;
    color: rgb(0, 0, 0);
  }

  td, th {
    padding: 12px; 
    font-family: 'Arial', sans-serif;
    font-size: 14px;
  }

  .chinese-table td, .chinese-table th {
    font-size: 15px;
}

  #top-table {
    background-image: linear-gradient(to right, rgb(0, 174, 239), rgb(38, 34, 98)) !important; 
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
  }


  #zeit-table {
    background-image: linear-gradient(rgb(0, 174, 239), rgb(38, 34, 98)); 
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;

  }

  #info-table {
    border: 3px solid rgb(0, 174, 239);
    border-radius: 6px;

  }

  #info-table strong {
    font-weight: bold;
  }

  .grande {
    text-align: center;
    font-size: 16px;
  }


/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------------------------------------- Organizadores ----- ------------------------------------ 
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------ */

.image-grid-daad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

#unterstuetzt_von {
    width: 230px; 
    height: 70px; 
    background-color: white;
    margin-top: 50px;
    text-align: center;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {    
    display: block; 
    margin: auto; 
    padding: 80px;
    width: 200px; 
}

.logo-daad {    
    display: block; 
    margin: auto; 
    padding: 80px;
    width: 350px; 
}



.logos-unternehmen {
    padding-top: 130px;    
    padding: 40px;     
    display: block; 
    margin: auto; 

}



#unternehmen {
    text-align: center;
}

.logos-cn {
    width: 240px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
----------------------------- Footer------------------------------------------------------
----------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------- */

.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    font-weight: 600;
}

.footer a {
    color: #0af;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* --------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
-----------------------------------------Media Queries Tablet----------------------------------------------
-----------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/

@media (max-width: 1100px) {

    body, html {
        overflow-x: hidden;
    }

    #joblab-bild {
        width: 410px; 
    }

    .text-div {
        width: 75%; 
        height: 400px; 
        background-color: rgb(255, 255, 255); 
        color: black;
        text-align: justify;
        line-height: 1.5;
        font-size: 16px;
    }

    #guangzhou-id {
        width: 90%;
        height: 1500px;
    }
    #shanghai-id {
        width: 90%;
        height: 1800px;
    }
    #beijing-id {
        width: 90%;
        height: 1600px; 
    }
    .fotos-joblab{
        margin-top: 60px;
    }

    .grande {
        font-size: 16px;
      }

      .image-grid-daad {
        grid-template-columns: repeat(1, 1fr);
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #unterstuetzt-container {
        height: 1400px;
    }

    #chinese-text{
        font-size: 18px;
    }

    table {
        width: 95%;
      }








#logos-container{
    height: 480px;
}

#stadt-bild{
    width: 150px;
    
}

#unternehmen-container {
    height: 2900px;
}
    
}

/* --------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------Media Queries Handy-----------------------------------------------
-----------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/


@media (max-width: 750px) {

    #chinese-text{
        font-size: 17px;
    }

    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #image-container {
        display: flex; 
        justify-content: center;  
        align-items: flex-start;  
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    
    #bg-gif {
        width: auto;  
        max-width: 100%; 
        height: 100%; 
        object-fit: contain; 
        object-position: top center; 
    }

    #link-div-1 {
        display: block; 
        position: absolute;
        width: 60vw; 
        height: 11vh; 
        top: 38%; 
        left: 16%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-2 {
        display: block; 
        position: absolute;
        width: 54vw; 
        height: 11vh; 
        top: 53%; 
        left: 22%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }
    
    #link-div-3 {
        display: block; 
        position: absolute;
        width: 50vw; 
        height: 11vh; 
        top: 67%; 
        left: 28%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); }

    #link-div-4 {
        display: block; 
        position: absolute;
        width: 40vw; 
        height: 10vh; 
        top: 81%; 
        left: 30%; 
        cursor: pointer; 
        background-color: rgba(255, 0, 0, 0); 
    }

/* Logos */

    #container {
        color: rgb(0, 34, 156);
        background-color: white; 
        width: 360px; 
        height: 1300px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    #guangzhou-id {
        width: 90%;
        height: 1500px;
    }

    #unternehmen-container {
        height: 5700px;
    }


    
    .logos {
        padding-top: 50px;
        padding-bottom: 50px;         
        display: block; 
        margin: auto; 
        width: 240px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #logos-container {
        
        width: 90%;
    }

    .logo-daad {    
        width: 300px; 
    }


    .subtitulos {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .container {
        width: 90%; 
    }

    .intro {

        width: 90%;
    }

    #joblab-bild {
        width: 250px; 
    }

    .joblab-titulos {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .ort{
        width: 300px;
        text-align: justify;
        font-size: 14px;
    }


    
    table {
        width: 95%;
        margin-top: 10px;
    }

    


    td, th {
        padding: 9px; 
        font-size: 12px;
    }



    #shanghai-id {
        width: 90%;
        height: 1800px;
    }

    .grande {
        font-size: 14px;
      }

    #beruf-bild {
        width: 200px;
    }

    #programm-bild {
        width: 150px;
    }



.text-div {
    width: 80%; 
    height: 500px; 
    background-color: rgb(255, 255, 255); 
    color: black;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
}

#unterstuetzt-container {
    height: 2600px;
}
 }